# Ignore the virtual environment folder
.venv/
test_env/

# Ignore compiled Python bytecode
utils/__pycache__/

# Ignore build directories and temporary files
build/
dist/
*.egg-info/

# Ignore compiled C++ extension files
utils/*.pyd
utils/*.so
utils/*.dll

# Ignore temporary logs and cache
*.log
