asttokens
Bottleneck
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
importlib_metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
Mako
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
#mkl-service==2.4.0
mkl_fft
mkl_random
nest_asyncio
nolds
numexpr
numpy
packaging
pandas
parso
pickleshare
pillow
platformdirs
ply==3.11
prompt_toolkit
psutil
pure_eval
Pygments
pyopencl
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyRQA
python-dateutil
pytools
pytz
pywin32==305
pyzmq
scipy
sip
six
stack-data
tomli
tornado
traitlets
typing_extensions
tqdm
tzdata
unicodedata2
wcwidth
zipp
siphash24